################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FoodDelivery/.vs/FoodDelivery/v17
/FoodDelivery/.vs/FoodDelivery
/FoodDelivery/FoodDelivery.APIGateway/bin/Debug/net8.0
/FoodDelivery/FoodDelivery.APIGateway/obj
